// CONTACT

#contact {
    margin: 10vh 7vw 2vh 7vw;
    text-align: center;
    h4 {
        text-transform: uppercase;
        font-size: 1.5em;
        margin-bottom: 3%;
    }

    p {
        font-weight: bold;
        font-size: 1.25em;
    }
    .contact-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1% 5%;

        .contact-form {
            width: 20%;
            text-align: center;
            margin: 5% 10% 5% 15%;

            input, select, button {
                margin: 5% 0;
                width: 100%;
            }

            button:hover {
                color: #ff9966;
                font-weight: 500;
            }
        }

        .contact-image {
            margin: 0;
            padding: 0;
            display: inline-flex;
            align-items: center;
            img {
                height: 80%;
                width: 80%;
            }
        }
    }
}

@media (max-width: 400px) {
    #contact {
        .contact-container{
            display: block;
            .contact-form{
                width: 80%;
            }
        .contact-image{
            text-align: center;
        }
        }
    }
}